:root {
  --first-color: #4c6085;
  --second-color: #39a0ed;
  --background: #fff;
  --primary-text: #fff;
  --secondary-text:#000;
  --base-spacing: 8px;
  --border-primary: solid var(--primary-variant) 3px;
  --border-secondary: solid var(--secondary-variant) 3px;
}

#firstParagraph {
  color: var(--first-color);
  background-color: var(--second-color);
}

#secondParagraph {
  background-color: var(--second-color);
  color: var(--first-color);
}

#thirdParagraph {
  color: var(--first-color);
  background-color: var(--second-color);
}

body {
  font-family: 'Caveat', cursive;
}

p {
  background: var(--first-color);
  color: var(--primary-text);
}

nav {
  min-height: 72px;
}

.is-hidden--mobile {
  font-size: 0;
  height: 0;
}

/* layout  */

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav a {
  text-decoration: none;
}

nav li {
  padding: var(--base-spacing) 0;
}

.fas {
  font-size: 48px;
}

nav .fas {
  margin: var(--base-spacing);
  position: absolute;
  transform: translateX(calc(100vw - var(--base-spacing) * 10));
}

.hero {
  align-items: center;
  background: url(https://picsum.photos/680/420) center center no-repeat;
  background-size: cover;
  height: 20vh;
  max-height: 420px;
  display: flex;
  justify-content: center;
}

footer a,
nav a,
.hero a {
  /* Remove underline. */
  text-decoration: none;
}

.hero a {
  background: var(--secondary);
  border-radius: var(--base-spacing);
  padding: var(--base-spacing);
}

/* .hero a:hover {
  background: var(--secondary-variant);
} */

section {
  padding: calc(var(--base-spacing) * 3);
}

.read-more-btn: {
  max-width: calc(var(--base-spacing) * 15);
  background: var(--primary-text);
  margin: var(--base-spacing) 0;
  align-items: center;
  border-radius: var(--base-spacing);
  padding: var(--base-spacing);
  display: inline-block;
}

footer {
  border-top: var(--border-primary);
  padding: calc(var(--base-spacing) * 2);
}

footer a {
  color: white;
}

footer ul {
  /* By default, this will do flex-direction: row; */
  display: flex;
  justify-content: space-between;
}

header figure {
  margin-right: calc(var(--base-spacing) * 2);
}

.flex-container--desktop {
  display: flex;
}
/* This should apply for tablets and above! */
@media screen and (min-width: 768px) {
  section {
    display: flex;
    flex-direction: column;
  }

  .is-hidden--tablet {
    font-size: 0;
    height: 0;
  }
  .read-more-btn {
    max-width: calc(var(--base-spacing) * 15);
    text-align: center;
    align-self: center;
}

.hero {
  height: 40vh;
}
}

/* This should apply for desktops and above. */
@media screen and (min-width: 960px) {
  header {
    flex-direction: row;
    padding: calc(var(--base-spacing) * 2);
  }
  header figure {
    margin-right: calc(var(--base-spacing) * 2);
  }
  .is-hidden--desktop {
    font-size: 0;
    height: 0;
  }
  .is-shown--desktop {
    font-size: initial;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
  }

  section p {
    margin-bottom: auto;
  }

  .hero {
height: 60vh;
  }

  .flex-container--desktop {
    display: flex;
  }

  .flex-row--desktop {
  flex-direction: row;
  }
  }

/* Form */

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  padding: var(--base-spacing);
}

input,
textarea {
  border: solid thin black;
  max-width: 80vw;
}

form div {
  margin: var(--base-spacing);
}

input[type="submit"] {
  background: var(--secondary);
  border-radius: var(--base-spacing);
  display: inline-block;
  margin: var(--base-spacing) 0;
  min-height: calc(var(--base-spacing) * 6);
  max-width: calc(var(--base-spacing) * 12);
  text-align: center

}

  /* To be used with Javascript */

  /* .is-error {
    box-shadow: 4px 3px 3px red;
    } */
