:root {
  --first-color: #4c6085;
  --second-color: #39a0ed;
}

#firstParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}

#secondParagraph {
  background-color: var(--second-color);
  color: var(--first-color);
}

#thirdParagraph {
  background-color: var(--first-color);
  color: var(--second-color);
}
